In [3]:
import pandas as pd
import os

In [5]:
#print out first 5 rows of data to get idea of content
print(os.getcwd())
df = pd.read_csv(os.getcwd()+ '/rawData/unemploy.csv')
df.head()

/mnt/e/Desktop/jupyter/ipython-in-depth/BigDataProject

,State,Filed week ended,Initial Claims,Reflecting Week Ended,Continued Claims,Covered Employment,Insured Unemployment Rate
0,Alabama,1/4/20,"4,578",12/28/19,"18,523","1,923,741",0.96
1,Alabama,1/11/20,"3,629",1/4/20,"21,143","1,923,741",1.10
2,Alabama,1/18/20,"2,483",1/11/20,"17,402","1,923,741",0.90
3,Alabama,1/25/20,"2,129",1/18/20,"18,390","1,923,741",0.96
4,Alabama,2/1/20,"2,170",1/25/20,"17,284","1,923,741",0.90

### Unemploy

This is a dataset for unemploy in each state of United States

In [18]:
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.8.2 (default, Apr 27 2020, 15:53:34)
[GCC 9.3.0]
Version info.
sys.version_info(major=3, minor=8, micro=2, releaselevel='final', serial=0)

In [20]:
import sys
!{sys.executable} -m pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/lhs/.local/lib/python3.8/site-packages (1.20.2)

In [25]:
#use of openclean's stream operator to avoid having to load the dataset into main-memory

from openclean.pipeline import stream

ds = stream(df)

In [26]:
# Profile using the default data profiler.

from openclean.profiling.column import DefaultColumnProfiler
profiles = ds.profile(default_profiler=DefaultColumnProfiler)

In [27]:
#overview of profiling results.

profiles.stats()

                           total  empty  distinct  uniqueness    entropy
State                       3341      0        55    0.016462   5.732362
Filed week ended            3341      0        64    0.019156   5.980974
Initial Claims              3341      0      3132    0.937444  11.576885
Reflecting Week Ended       3341      0        64    0.019156   5.980974
Continued Claims            3341      0      3319    0.993415  11.692895
Covered Employment          3341      0       321    0.096079   8.134613
Insured Unemployment Rate   3341      0      1324    0.396289  10.018963

In [29]:
df.State.unique()

array(['Alabama', 'Alaska', 'Arkansas', 'Arizona', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'North Carolina', 'North Dakota',
       'Nebraska', 'New Hampshire', 'New Jersey', 'New Mexico', 'Nevada',
       'New York', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Puerto Rico', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virgin Islands',
       'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming',
       nan, 'Run Date: 3/30/2021'], dtype=object)

In [30]:
type(df.State.unique())

numpy.ndarray

In [31]:
print(df.State.unique().size)

55

In [32]:
stateList = df.State.unique().tolist()

In [33]:
stateList

['Alabama',
 'Alaska',
 'Arkansas',
 'Arizona',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'North Carolina',
 'North Dakota',
 'Nebraska',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'Nevada',
 'New York',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Puerto Rico',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virgin Islands',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming',
 nan,
 'Run Date: 3/30/2021']

In [34]:
stateList[-1]

'Run Date: 3/30/2021'

In [35]:
stateList = stateList[:-1]

In [36]:
stateList

['Alabama',
 'Alaska',
 'Arkansas',
 'Arizona',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'North Carolina',
 'North Dakota',
 'Nebraska',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'Nevada',
 'New York',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Puerto Rico',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virgin Islands',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming',
 nan]

In [37]:
stateList = stateList[:-1]

In [38]:
stateList

['Alabama',
 'Alaska',
 'Arkansas',
 'Arizona',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'North Carolina',
 'North Dakota',
 'Nebraska',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'Nevada',
 'New York',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Puerto Rico',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virgin Islands',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [43]:
len(stateList)

53

Try to find why there are 53 states, normally should be 50.

In [64]:
newStates = []
with open(os.getcwd()+'/rawData/usStates.txt', 'r', encoding='utf8') as rd:
    lines = rd.readlines()
    for line in lines:
        newStates.append(line.rstrip('\n'))
len(newStates)

50

In [62]:
newStates

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

### This is how states should be look like, let's do the comparison

In [63]:
for s in stateList:
    if s not in newStates:
        print(s)

District of Columbia
Puerto Rico
Virgin Islands

#### Now we find out there are three place that is not in 50 states, this need to be rember for later join and comparison operation.